
html, body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #11113f;
}

body{
  font-size: 1.75em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-shadow: 0 0 2px black;
}


