body, html{
    padding: 0;
    margin: 0;
    background: grey;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
canvas{
    display: inline;
    margin: auto;
    height: 80vh;
    image-rendering: pixelated;
}

.hidden{
    display: none;
}
