*{
  box-sizing: border-box;
}
:root{
  font-size: 16px;
  --psi-primary: rgb( 150, 40, 240 );
  --psi-secondary: rgb( 40, 210, 255 );
  --psi-exotic: rgb( 135, 180, 5 );
}
html, body{
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* note: font shorthand is written
  font: [style] [variant] [weight] [size] / [line height] [family]
  
  [style] can be normal, italic or oblique
  [weight] can be normal, bold, or 900
  [size] can be any unit
  [line height] can be any unit
  [family] can be any font family
  the "/" is for [line height] ONLY
  
*/

#psimanelix-main-element{
  font-size: 1rem;
  font-family: serif;
  padding: 0.5em;
  background: repeating-linear-gradient( -20deg, var( --b-light ), var( --psi-primary ) 1em, var( --b-light ) 3em );
}

.theme-light{
  color: black;
  --b-light:  rgba( 236, 236, 250, 1 );
  --b-medium: rgba( 110, 110, 130, 1 );
  --b-dark:   rgba( 23, 23, 50, 1 );
  --b-color-light:  rgba( 236, 236, 250, 1 );
  --b-color-medium: rgba( 236, 236, 250, 1 );
  --b-color-dark:   rgba( 236, 236, 250, 1 );
  --b-secondary-light:  rgba( 236, 236, 250, 1 );
  --b-secondary-medium: rgba( 236, 236, 250, 1 );
  --b-secondary-dark:   rgba( 236, 236, 250, 1 );
}
.theme-dark{
  --b-light:  rgba( 236, 236, 250, 1 );
  --b-medium: rgba( 236, 236, 250, 1 );
  --b-dark:   rgba( 236, 236, 250, 1 );
  --b-color-light:  rgba( 236, 236, 250, 1 );
  --b-color-medium: rgba( 236, 236, 250, 1 );
  --b-color-dark:   rgba( 236, 236, 250, 1 );
  --b-secondary-light:  rgba( 236, 236, 250, 1 );
  --b-secondary-medium: rgba( 236, 236, 250, 1 );
  --b-secondary-dark:   rgba( 236, 236, 250, 1 );
}
.theme-forest{
  --b-light:  rgba( 236, 236, 250, 1 );
  --b-medium: rgba( 236, 236, 250, 1 );
  --b-dark:   rgba( 236, 236, 250, 1 );
  --b-color-light:  rgba( 236, 236, 250, 1 );
  --b-color-medium: rgba( 236, 236, 250, 1 );
  --b-color-dark:   rgba( 236, 236, 250, 1 );
  --b-secondary-light:  rgba( 236, 236, 250, 1 );
  --b-secondary-medium: rgba( 236, 236, 250, 1 );
  --b-secondary-dark:   rgba( 236, 236, 250, 1 );
}
.theme-aquatic{
  --b-light:  rgba( 236, 236, 250, 1 );
  --b-medium: rgba( 236, 236, 250, 1 );
  --b-dark:   rgba( 236, 236, 250, 1 );
  --b-color-light:  rgba( 236, 236, 250, 1 );
  --b-color-medium: rgba( 236, 236, 250, 1 );
  --b-color-dark:   rgba( 236, 236, 250, 1 );
  --b-secondary-light:  rgba( 236, 236, 250, 1 );
  --b-secondary-medium: rgba( 236, 236, 250, 1 );
  --b-secondary-dark:   rgba( 236, 236, 250, 1 );
}
.theme-magmatic{
  --b-light:  rgba( 236, 236, 250, 1 );
  --b-medium: rgba( 236, 236, 250, 1 );
  --b-dark:   rgba( 236, 236, 250, 1 );
  --b-color-light:  rgba( 236, 236, 250, 1 );
  --b-color-medium: rgba( 236, 236, 250, 1 );
  --b-color-dark:   rgba( 236, 236, 250, 1 );
  --b-secondary-light:  rgba( 236, 236, 250, 1 );
  --b-secondary-medium: rgba( 236, 236, 250, 1 );
  --b-secondary-dark:   rgba( 236, 236, 250, 1 );
}

.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}
.only-content{
  padding: 0;
  margin: 0;
  
}

.block{
  display: block;
  padding: 0.5em;
}

.code{
  font: monospace;
  background-color: #ddd;
  padding: 0.25em;
  border-radius: 0.125em;
}

input{
  font-size: 1.25em;
  display: block;
  width: 100%;
}

/* we want canvases to cover up everything, for now */

canvas{
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


/*
  This work is licensed under a creative commons license
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
*/

#creative-commons-license{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: #eeb;
  font-size: 0.5em;
}

