body {
  background: white;
  color: black;
  font-family: Tahoma, Arial;
  font-size: 24px;
  background-color: #ddd;
  background-image: url('clouds-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body *{
  text-shadow:
/*    0 0 0.5em white,*/
    0 0 0.35em white,
/*     0 0 0.35em white, */
/*     0 0 0.35em white, */
/*     0 0 0.35em white, */
/*     0 0 0.35em cyan, */
    0 0 0.35em cyan
  ;
}

.scroll{
  height: 100vh;
  padding: 0.5em;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(255 255 255 / 0.4);
}
