body {
  background: white;
  color: black;
  font-family: Tahoma, Arial;
  font-size: 24px;
  background-color: #ddd;
  background-image: url('clouds-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body *{
  text-shadow:
    0 0 0.15em white,
    0 0 0.15em white,
    0 0 0.15em cyan
  ;
}

