
/* from the structure file */
div{
    color: #f0f0f0; /* white      */
    color: #9d9d97; /* light gray */
    color: #474f52; /* gray       */
    color: #1d1d21; /* black      */
    color: #835432; /* brown      */
    color: #b02e26; /* red        */
    color: #f9801d; /* orange     */
    color: #fed83d; /* yellow     */
    color: #80c71f; /* lime       */
    color: #5e7c16; /* green      */
    color: #169c9c; /* cyan       */
    color: #3ab3da; /* light blue */
    color: #3c44aa; /* blue       */
    color: #8932b8; /* purple     */
    color: #c74ebd; /* magenta    */
    color: #f38baa; /* orange     */
}

/* from the wiki */
div{
    color: #F0F0F0; /* white      */
    color: #9D9D97; /* light gray */
    color: #474F52; /* gray       */
    color: #1D1D21; /* black      */
    color: #835432; /* brown      */
    color: #B02E26; /* red        */
    color: #F9801D; /* orange     */
    color: #FED83D; /* yellow     */
    color: #80C71F; /* lime       */
    color: #5E7C16; /* green      */
    color: #169C9C; /* cyan       */
    color: #3AB3DA; /* light blue */
    color: #3C44AA; /* blue       */
    color: #8932B8; /* purple     */
    color: #C74EBD; /* magenta    */
    color: #F38BAA; /* orange     */
}

div{
    color: #f4a460; /* sandybrown     */
    color: #00ff7f; /* springgreen    */
    color: #8b4513; /* saddlebrown    */
    color: #deb887; /* burlywood      */
    color: #663399; /* rebeccapurple  */
    color: #6495ed; /* cornflowerblue */
    color: #9400d3; /* darkviolet     */
    color: #f0fff0; /* honeydew       */
    color: #e6e6fa; /* lavender       */
    color: #fff0f5; /* lavenderblush  */
    color: #c0c0c0; /* silver         */
    color: #adff2f; /* greenyellow    */
    color: #a0522d; /* sienna     */
    color: #dc143c; /* crimson    */
    color: #d2691e; /* chocolate  */
    color: #ff7f50; /* coral      */
    color: #000080; /* navy       */
    color: #8a2be2; /* blueviolet */
    color: #9932cc; /* darkorchid */
    color: #8a2be2; /* blueviolet */
    color: #ff4500; /* orangered  */
    color: #fffff0; /* ivory      */
    color: #87ceeb; /* skyblue    */
    color: #ee82ee; /* violet     */
    color: #40e0d0; /* turquoise  */
    color: #f0e68c; /* khaki      */
    color: #008080; /* teal       */
    color: #f5f5dc; /* beige      */
    color: #da70d6; /* orchid     */
    color: #ff00ff; /* fuchsia    */
    color: #d2b48c; /* tan        */
    color: #800000; /* maroon     */
    color: #7fffd4; /* aquamarine */
    color: #708090; /* slategray  */
    color: #6a5acd; /* slateblue  */
    color: #fa8072; /* salmon     */
    color: #ffd700; /* gold       */
    color: #ffffff; /* white      */
    color: #d3d3d3; /* lightgray  */
    color: #808080; /* gray       */
    color: #000000; /* black      */
    color: #a52a2a; /* brown      */
    color: #ff0000; /* red        */
    color: #ffa500; /* orange     */
    color: #ffff00; /* yellow     */
    color: #00ff00; /* lime       */
    color: #008000; /* green      */
    color: #00ffff; /* cyan       */
    color: #add8e6; /* lightblue  */
    color: #0000ff; /* blue       */
    color: #800080; /* purple     */
    color: #ff00ff; /* magenta    */
}

/*
sandybrown, springgreen, saddlebrown, burlywood, rebeccapurple, cornflowerblue, darkviolet, honeydew, lavender, lavenderblush, silver, greenyellow, sienna, crimson, chocolate, coral, navy, blueviolet, darkorchid, blueviolet, orangered, ivory, skyblue, violet, turquoise, khaki, teal, beige, orchid, fuchsia, tan, maroon, aquamarine, slategray, slateblue, salmon, gold, white, lightgray, gray, black, brown, red, orange, yellow, lime, green, cyan, lightblue, blue, purple, magenta
*/
