
div{
    color: #f0f0f0; /* white */
    color: #979d9d; /* light gray */
    color: #325483; /* gray */
    color: #211d1d; /* black */
    color: #524f47; /* brown */
    color: #aa443c; /* red */
    color: #dab33a; /* orange */
    color: #9c9c16; /* yellow */
    color: #1fc780; /* lime */
    color: #167c5e; /* green */
    color: #1d80f9; /* cyan */
    color: #3dd8fe; /* light blue */
    color: #262eb0; /* blue */
    color: #aa8bf3; /* lime */
    color: #bd4ec7; /* yellow */
    color: #b83289; /* orange */
}
